.DS_Store
code/*/Shaders.air
code/09-software-rasterizer/out.png
code/09-software-rasterizer/rasterizer-v2-verify.png
code/10-path-tracer/out.png
code/*/out.tga
code/17-3dgs-viewer/scene.ply
code/18-bvh-pathtracer/out.png
code/19-gltf-loader/knot.gltf
code/19-gltf-loader/knot.bin
code/19-gltf-loader/out.png
